In [60]:
import pandas as pd

In [61]:
data = pd.read_csv("GDPlist.csv", encoding = "ISO-8859-1")
data.head()

        Country      Continent  GDP (millions of US$)
0  ¬†Afghanistan           Asia                  18181
1      ¬†Albania         Europe                  12847
2      ¬†Algeria         Africa                 190709
3       ¬†Angola         Africa                 100948
4    ¬†Argentina  South America                 447644

In [62]:
print("S·ªë d√≤ng d·ªØ li·ªáu: ",data.shape[0])
print("S·ªë c·ªôt d·ªØ li·ªáu: ",data.shape[1])

S·ªë d√≤ng d·ªØ li·ªáu:  125
S·ªë c·ªôt d·ªØ li·ªáu:  3

In [63]:
print("Ki·ªÉu d·ªØ li·ªáu c·ªßa t·ª´ng thu·ªôc t√≠nh")
data.info()

Ki·ªÉu d·ªØ li·ªáu c·ªßa t·ª´ng thu·ªôc t√≠nh
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [64]:
# Vi·ªát h√≥a t√™n c√°c c·ªôt trong b·∫£ng d·ªØ li·ªáu: Country ü°™ Nuoc; Continent ü°™ Chauluc; GDP (millions of US$) ü°™ GDP (trieu $)
data = data.rename(columns = {"Country":"Nuoc" , "Continent":"Chauluc" , "GDP (millions of US$)":'GDP'})
# data.rename(columns = {"Country":"Nuoc" , "Continent":"Chau luc" , "GDP (millions of US$)":'GDP'}, inplace=True)
data.head()

           Nuoc        Chauluc     GDP
0  ¬†Afghanistan           Asia   18181
1      ¬†Albania         Europe   12847
2      ¬†Algeria         Africa  190709
3       ¬†Angola         Africa  100948
4    ¬†Argentina  South America  447644

In [65]:
# Ch√®n th√™m m·ªôt c·ªôt ‚ÄúThanhpho‚Äù v√†o sau c·ªôt ‚ÄúNuoc‚Äù, gi√° tr·ªã ban ƒë·∫ßu l√† gi√° tr·ªã c·ªßa c·ªôt ‚ÄúNuoc‚Äù  
data.insert(loc=1, column='Thanh pho',value=data.loc[:,'Nuoc'])
data.head()

           Nuoc     Thanh pho        Chauluc     GDP
0  ¬†Afghanistan  ¬†Afghanistan           Asia   18181
1      ¬†Albania      ¬†Albania         Europe   12847
2      ¬†Algeria      ¬†Algeria         Africa  190709
3       ¬†Angola       ¬†Angola         Africa  100948
4    ¬†Argentina    ¬†Argentina  South America  447644

In [79]:
# Trong c·ªôt Thanhpho, thay gi√° tr·ªã Albania th√†nh Tirana; L√†m t∆∞∆°ng t·ª± v·ªõi c√°c n∆∞·ªõc c√≤n l·∫°i.

data['Thanh pho'] = data['Thanh pho'].str.replace('Albania','Tirana')
data.head()

          Nuoc   Thanh pho        Chauluc      GDP
4   ¬†Argentina  ¬†Argentina  South America   447644
5   ¬†Australia  ¬†Australia        Oceania  1488221
6     ¬†Austria    ¬†Austria         Europe   419243
11    ¬†Belgium    ¬†Belgium         Europe   513396
15     ¬†Brazil     ¬†Brazil  South America  2492908

In [81]:
# X√≥a c√°c b·∫£n ghi c√≥ Chauluc l√† ‚ÄòAsia‚Äô
# B1: T√¨m c√°c index c·ªßa " Asia"
dt1 = data.loc[data.Chauluc == 'Asia'].index

# B2 : Xo√° c√°c d√≤ng c√≥ index l√† " Aisa"
data.drop(dt1, inplace=True)
print(data)

                Nuoc        Thanh pho        Chauluc       GDP
4         ¬†Argentina       ¬†Argentina  South America    447644
5         ¬†Australia       ¬†Australia        Oceania   1488221
6           ¬†Austria         ¬†Austria         Europe    419243
11          ¬†Belgium         ¬†Belgium         Europe    513396
15           ¬†Brazil          ¬†Brazil  South America   2492908
21           ¬†Canada          ¬†Canada  North America   1736869
24         ¬†Colombia        ¬†Colombia  South America    328422
32          ¬†Denmark         ¬†Denmark         Europe    333238
41           ¬†France          ¬†France         Europe   2776324
44          ¬†Germany         ¬†Germany         Europe   3577031
46           ¬†Greece          ¬†Greece         Europe    303065
58            ¬†Italy           ¬†Italy         Europe   2198730
73           ¬†Mexico          ¬†Mexico  North America   1154784
78      ¬†Netherlands     ¬†Netherlands         Europe    840433
81           ¬†Norway          ¬†Norway         Europe    483650
89           ¬†Poland          ¬†Poland         Europe    513821
100    ¬†South Africa    ¬†South Africa         Africa    408074
102           ¬†Spain           ¬†Spain         Europe   1493513
105          ¬†Sweden          ¬†Sweden         Europe    538237
106     ¬†Switzerland     ¬†Switzerland         Europe    636059
117  ¬†United Kingdom  ¬†United Kingdom         Europe   2417570
118   ¬†United States   ¬†United States  North America  15094025
121       ¬†Venezuela       ¬†Venezuela  South America    315841

In [83]:
# X√≥a c√°c b·∫£n ghi c√≥ GDP < 300000
dt2=data.loc[data.GDP < 300000].index
data.drop(dt2, inplace = True)
print(data)

Int64Index([], dtype='int64')
                Nuoc        Thanh pho        Chauluc       GDP
4         ¬†Argentina       ¬†Argentina  South America    447644
5         ¬†Australia       ¬†Australia        Oceania   1488221
6           ¬†Austria         ¬†Austria         Europe    419243
11          ¬†Belgium         ¬†Belgium         Europe    513396
15           ¬†Brazil          ¬†Brazil  South America   2492908
21           ¬†Canada          ¬†Canada  North America   1736869
24         ¬†Colombia        ¬†Colombia  South America    328422
32          ¬†Denmark         ¬†Denmark         Europe    333238
41           ¬†France          ¬†France         Europe   2776324
44          ¬†Germany         ¬†Germany         Europe   3577031
46           ¬†Greece          ¬†Greece         Europe    303065
58            ¬†Italy           ¬†Italy         Europe   2198730
73           ¬†Mexico          ¬†Mexico  North America   1154784
78      ¬†Netherlands     ¬†Netherlands         Europe    840433
81           ¬†Norway          ¬†Norway         Europe    483650
89           ¬†Poland          ¬†Poland         Europe    513821
100    ¬†South Africa    ¬†South Africa         Africa    408074
102           ¬†Spain           ¬†Spain         Europe   1493513
105          ¬†Sweden          ¬†Sweden         Europe    538237
106     ¬†Switzerland     ¬†Switzerland         Europe    636059
117  ¬†United Kingdom  ¬†United Kingdom         Europe   2417570
118   ¬†United States   ¬†United States  North America  15094025
121       ¬†Venezuela       ¬†Venezuela  South America    315841