In [60]:
import pandas as pd

In [61]:
data = pd.read_csv("GDPlist.csv", encoding = "ISO-8859-1")
data.head()

        Country      Continent  GDP (millions of US$)
0  Â Afghanistan           Asia                  18181
1      Â Albania         Europe                  12847
2      Â Algeria         Africa                 190709
3       Â Angola         Africa                 100948
4    Â Argentina  South America                 447644

In [62]:
print("Sá»‘ dÃ²ng dá»¯ liá»‡u: ",data.shape[0])
print("Sá»‘ cá»™t dá»¯ liá»‡u: ",data.shape[1])

Sá»‘ dÃ²ng dá»¯ liá»‡u:  125
Sá»‘ cá»™t dá»¯ liá»‡u:  3

In [63]:
print("Kiá»ƒu dá»¯ liá»‡u cá»§a tá»«ng thuá»™c tÃ­nh")
data.info()

Kiá»ƒu dá»¯ liá»‡u cá»§a tá»«ng thuá»™c tÃ­nh
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [64]:
# Viá»‡t hÃ³a tÃªn cÃ¡c cá»™t trong báº£ng dá»¯ liá»‡u: Country ğŸ¡ª Nuoc; Continent ğŸ¡ª Chauluc; GDP (millions of US$) ğŸ¡ª GDP (trieu $)
data = data.rename(columns = {"Country":"Nuoc" , "Continent":"Chauluc" , "GDP (millions of US$)":'GDP'})
# data.rename(columns = {"Country":"Nuoc" , "Continent":"Chau luc" , "GDP (millions of US$)":'GDP'}, inplace=True)
data.head()

           Nuoc        Chauluc     GDP
0  Â Afghanistan           Asia   18181
1      Â Albania         Europe   12847
2      Â Algeria         Africa  190709
3       Â Angola         Africa  100948
4    Â Argentina  South America  447644

In [65]:
# ChÃ¨n thÃªm má»™t cá»™t â€œThanhphoâ€ vÃ o sau cá»™t â€œNuocâ€, giÃ¡ trá»‹ ban Ä‘áº§u lÃ  giÃ¡ trá»‹ cá»§a cá»™t â€œNuocâ€  
data.insert(loc=1, column='Thanh pho',value=data.loc[:,'Nuoc'])
data.head()

           Nuoc     Thanh pho        Chauluc     GDP
0  Â Afghanistan  Â Afghanistan           Asia   18181
1      Â Albania      Â Albania         Europe   12847
2      Â Algeria      Â Algeria         Africa  190709
3       Â Angola       Â Angola         Africa  100948
4    Â Argentina    Â Argentina  South America  447644

In [79]:
# Trong cá»™t Thanhpho, thay giÃ¡ trá»‹ Albania thÃ nh Tirana; LÃ m tÆ°Æ¡ng tá»± vá»›i cÃ¡c nÆ°á»›c cÃ²n láº¡i.

data['Thanh pho'] = data['Thanh pho'].str.replace('Albania','Tirana')
data.head()

          Nuoc   Thanh pho        Chauluc      GDP
4   Â Argentina  Â Argentina  South America   447644
5   Â Australia  Â Australia        Oceania  1488221
6     Â Austria    Â Austria         Europe   419243
11    Â Belgium    Â Belgium         Europe   513396
15     Â Brazil     Â Brazil  South America  2492908

In [81]:
# XÃ³a cÃ¡c báº£n ghi cÃ³ Chauluc lÃ  â€˜Asiaâ€™
# B1: TÃ¬m cÃ¡c index cá»§a " Asia"
dt1 = data.loc[data.Chauluc == 'Asia'].index

# B2 : XoÃ¡ cÃ¡c dÃ²ng cÃ³ index lÃ  " Aisa"
data.drop(dt1, inplace=True)
print(data)

                Nuoc        Thanh pho        Chauluc       GDP
4         Â Argentina       Â Argentina  South America    447644
5         Â Australia       Â Australia        Oceania   1488221
6           Â Austria         Â Austria         Europe    419243
11          Â Belgium         Â Belgium         Europe    513396
15           Â Brazil          Â Brazil  South America   2492908
21           Â Canada          Â Canada  North America   1736869
24         Â Colombia        Â Colombia  South America    328422
32          Â Denmark         Â Denmark         Europe    333238
41           Â France          Â France         Europe   2776324
44          Â Germany         Â Germany         Europe   3577031
46           Â Greece          Â Greece         Europe    303065
58            Â Italy           Â Italy         Europe   2198730
73           Â Mexico          Â Mexico  North America   1154784
78      Â Netherlands     Â Netherlands         Europe    840433
81           Â Norway          Â Norway         Europe    483650
89           Â Poland          Â Poland         Europe    513821
100    Â South Africa    Â South Africa         Africa    408074
102           Â Spain           Â Spain         Europe   1493513
105          Â Sweden          Â Sweden         Europe    538237
106     Â Switzerland     Â Switzerland         Europe    636059
117  Â United Kingdom  Â United Kingdom         Europe   2417570
118   Â United States   Â United States  North America  15094025
121       Â Venezuela       Â Venezuela  South America    315841

In [83]:
# XÃ³a cÃ¡c báº£n ghi cÃ³ GDP < 300000
dt2=data.loc[data.GDP < 300000].index
data.drop(dt2, inplace = True)
print(data)

Int64Index([], dtype='int64')
                Nuoc        Thanh pho        Chauluc       GDP
4         Â Argentina       Â Argentina  South America    447644
5         Â Australia       Â Australia        Oceania   1488221
6           Â Austria         Â Austria         Europe    419243
11          Â Belgium         Â Belgium         Europe    513396
15           Â Brazil          Â Brazil  South America   2492908
21           Â Canada          Â Canada  North America   1736869
24         Â Colombia        Â Colombia  South America    328422
32          Â Denmark         Â Denmark         Europe    333238
41           Â France          Â France         Europe   2776324
44          Â Germany         Â Germany         Europe   3577031
46           Â Greece          Â Greece         Europe    303065
58            Â Italy           Â Italy         Europe   2198730
73           Â Mexico          Â Mexico  North America   1154784
78      Â Netherlands     Â Netherlands         Europe    840433
81           Â Norway          Â Norway         Europe    483650
89           Â Poland          Â Poland         Europe    513821
100    Â South Africa    Â South Africa         Africa    408074
102           Â Spain           Â Spain         Europe   1493513
105          Â Sweden          Â Sweden         Europe    538237
106     Â Switzerland     Â Switzerland         Europe    636059
117  Â United Kingdom  Â United Kingdom         Europe   2417570
118   Â United States   Â United States  North America  15094025
121       Â Venezuela       Â Venezuela  South America    315841